* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', system-ui;
    background-color: #fff;
    color: #000;
}

.login {
    border: 1px solid #5b5b5b;
    border-radius: 5px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
    padding: 1.2em;
    min-width: 50vw;
}

img {
    width: 100%;
    height: auto;
}

.logo-container {
    width: 100px;
    margin: 0 auto;
}

#logo {
    transform: translateY(-2px); 
}

.user-initial {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    background-color: #cce6da;
    text-align: center;
    padding-top: 1px;
}

.btn-green {
    background-color: #cce6da;
    border: none;
    color: #000;
}

.btn-green:hover {
    background-color: #7ab49a;
    color: #000;
}

.btn-green:active {
    background-color: #7ab49a;
    color: #000;
}

.btn-red {
    background-color: #f1b19d;
    color: #000;
    border: none;
}

.btn-red:hover {
    background-color: #e89379;
    color: #000;
}

.btn-red:active {
    background-color: #e89379;
    color: #000;
}

.account-container {
    max-width: 50%;
}

.nav-link {
    color: #3d3d3d;
    text-decoration: none;
}

.nav-link:hover {
    color: #000;
}

.navbar-brand {
    color: #000;
}

.navbar-brand:hover {
    color: #000;
}
/* a:hover {
    cursor: pointer;
} */