{% extends "layout.html" %}

{% block js %}
    <script src="../static/calendar.js" defer></script>
{% endblock %}

{% block calendarcss %} 
    <link rel="stylesheet" href="../static/calendar-styles.css" class="css">
{% endblock %}

{% block main %}
<div class="container">
    <p>{{ error }}</p>
    <div class="mb-3">
        <div class="form-group">
            <label for="event-name">Event name</label>
            <input type="text" name="event-name" class="form-control" id="event-name" placeholder="Enter event name">
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" name="date" class="form-control" id="date">
        </div>
        <div class="form-group">
            <label for="start-time">Start time</label>
            <input type="time" name="start-time" class="form-control" id="start-time">
        </div>
        <div class="form-group">
            <label for="end-time">End time</label>
            <input type="time" name="end-time" class="form-control" id="end-time">
        </div>
    </div>
        <button class="btn btn-dark mb-3" onclick="make_booking()">Book</button>
</div>


<div class="container">
    <div class="button-group">
        <button class="navigation" id="previous-month">&lt;</button>
        <button class="navigation" id="next-month">&gt;</button>
    </div>
    <div class="header">
        <h1 id="month-year"></h1>
    </div>
    <div id="calendar"></div>
</div>
{% endblock %}
