{% extends "layout.html" %}

{% block js %}
    <script src="../static/calendar.js" defer></script>
{% endblock %}

{% block calendarcss %} 
    <link rel="stylesheet" href="../static/calendar-styles.css" class="css">
{% endblock %}

{% block title %}
    Make a booking
{% endblock %}

{% include "navigation.html" %}

{% block main %}
<div class="container">
    <h1 class="ms-2 my-3">Make a booking</h1>
    <div class="d-flex justify-content-between align-items-center">
        <div class="container px-2 me-5">
            <form class="mb-3" id="event-form">
                <div class="form-group mb-3">
                    <label for="event-name">Event name</label>
                    <input type="text" name="event-name" class="form-control" id="event-name" placeholder="Enter event name" required>
                </div>
                <div class="form-group mb-3">
                    <label for="date">Date</label>
                    <input type="date" name="date" class="form-control" id="date" required>
                </div>
                <div class="form-group mb-3">
                    <label for="start-time">Start time</label>
                    <input type="time" name="start-time" class="form-control" id="start-time" required>
                </div>
                <div class="form-group mb-3">
                    <label for="end-time">End time</label>
                    <input type="time" name="end-time" class="form-control" id="end-time" required>
                </div>
                <button class="btn btn-dark mb-3" type="submit">Book</button>
            </form>
        </div>



        <div class="container px-2 mt-3">
            <div class="d-flex justify-content-between container">
                <div class="header mb-3">
                    <h1 id="month-year"></h1>
                </div>
                <div class="button-group align-self-center">
                    <button class="navigation" id="previous-month">&lt;</button>
                    <button class="navigation" id="next-month">&gt;</button>
                </div>
            </div>
            <div id="calendar"></div>
        </div>
    </div>
</div>

  <!-- Error modal -->
  <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Please try again
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
