{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% include "navigation.html" %}

{% block main %}
<div class="container">
    <h1 class="mt-3">My Bookings</h1>
    <div class="d-flex justify-content-end mt-3 mb-5">
        <a href="/book" class="btn btn-dark">Make booking</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for row in bookings %}
            <tr>
                <td> {{ row["event_name"] }} </td>
                <td> {{ row["start_date"] }} </td>
                <td> {{ row["start_time"] }} - {{ row["end_time"] }} </td>
                <td class="text-end">
                    <a class="btn btn-primary" href="#">Edit</a>
                    <a class="btn btn-danger" href="#">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}