<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a href="/" class="navbar-brand"><img src="../static/nightingale-logo.png" alt="" height="30" id="logo" class=" align-text-center w-25">Bowden</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if session["user_id"] %}
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a href="/book" class="nav-link">Make a booking</a>
                    </li>
                    <li class="nav-item me-5">
                        <a href="/" class="nav-link">Manage my bookings</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account" class="nav-link"><div class="user-initial">{{ name }}</div></a>
                    </li>
                </ul>
            {% endif %}
      </div>
    </div>
  </nav>

<!-- <nav class="navbar navbar-expand-lg pb-3 flex-nowrap">
    <div class="container-fluid">
        <a href="/" class="navbar-brand"><img src="../static/nightingale-logo.png" alt="" height="30" id="logo" class="d-inline-block align-text-center w-25">Bowden</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Nightingale Bowden</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                {% if session["user_id"] %}
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a href="/book" class="nav-link">Make a booking</a>
                    </li>
                    <li class="nav-item me-5">
                        <a href="/" class="nav-link">Manage my bookings</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account" class="nav-link"><div class="user-initial">{{ name }}</div></a>
                    </li>
                </ul>
            {% endif %}
            </div>
          </div>
        </div>
      </nav> -->
        <!-- <div class="collapse navbar-collapse" id="navmenu">
            {% if session["user_id"] %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/book" class="nav-link">Make a booking</a>
                    </li>
                    <li class="nav-item me-5">
                        <a href="/" class="nav-link">Manage my bookings</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">Log out</a>
                    </li>
                    <li class="nav-item">
                        <a href="/account" class="nav-link"><div class="user-initial">{{ name }}</div></a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav> -->