{% extends "layout.html" %}

{% block title %}
    Sign up
{% endblock %}

{% block main %}
<div class="container">
    <div class="logo-container mt-4">
        <img src="../static/nightingale-logo.png" alt="" class="logo">
    </div>
    <p class="fs-3 mx-auto text-center">Nightingale Bowden bookings</p>
    <div class="card w-50 mx-auto p-4 mt-3">
        <p class="text-center fs-5">Create an account</p>
        <form action="/signup" method="post">
            <div class="mb-3">
                <label for="first-name" class="form-label">First name</label>
                <input type="text" id="first-name" name="first-name" class="form-control">
            </div>
            <div class="mb-3">
                <label for="apartment" class="form-label">Apartment</label>
                <input type="text" id="apartment" name="apartment" class="form-control">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password-confirmation" class="form-label">Confirm password</label>
                <input type="password" id="password-confirmation" name="password-confirmation" class="form-control">
            </div>
            <button type="submit" class="btn btn-dark mb-3 mt-3">Sign up</button>
        </form>
        <p class="fw-light mt-3">Already have an account? <a href="/login">Log in</a></p>
    </div>
</div>

{% endblock %}